@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
	font-family: Eurostile;
	src: url(../fonts/eurostile-font/EuroStyleNormal.ttf);
}

@font-face {
	font-family: Eurostile-bold;
	src: url(../fonts/eurostile-font/EurostileBold.ttf);
}

/*Global CSS Starts*/
html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h5,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset {
	margin: 0;
	padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
video,
audio,
mark {
	display: block;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

img,
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #d5e6dd inset;
	-webkit-text-fill-color: #363636 !important;
}

input[type="text"] {
	outline: 0;
}

input:hover,
textarea:hover {
	border: 2px solid #188fcf !important;
}

input[type="text"]::placeholder {
	color: #00375C;
}

textarea::placeholder {
	color: #00375C;
}

select {
	outline: 0;
}

button:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: none;
}

/* Flexible Embedded Videos */

a {
	text-decoration: none !important;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #111;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

textarea:focus,
input:focus {
	outline: none;
	border: 0;
}

a:hover,
a:active,
a:focus {
	color: #111;
	outline: 0;
	border: 0;
	text-decoration: none;
}


span {
	margin: 0;
	padding: 0;
	color: #2E5C57;
}

p {
	margin: 0;
	padding: 0 0 15px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #00375C;
	font-family: 'Montserrat', sans-serif;
}

p:last-child {
	padding: 0;
}

/* list */

ul,
li,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Tables */
button:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	font-size: 0;
	line-height: 0;
	clear: both;
	height: 0;
}

/*Global CSS Ends*/

/* =============================================================================
Typography
========================================================================== */

body {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #00375C;
	font-family: 'Montserrat', sans-serif;
}


.container {
	max-width: 1770px !important;
}

.formcontrol:focus {
	box-shadow: none !important;
}


.gen-btn a {
	margin-top: 5rem;
	margin-right: 0rem;
	margin-left: 0rem;
	width: 300px;
	height: 70px;
	background: transparent linear-gradient(312deg, #1A99DC 0%, #04375C 100%) 0% 0% no-repeat padding-box;
	border-radius: 50px;
	text-align: center;
	font: normal normal bold 24px/31px Eurostile;
	letter-spacing: 4px;
	color: #FFFFFF;
	text-transform: uppercase;
	border: none;
	padding: 1.3rem 0;
}

.gen-btn a:hover {
	background: linear-gradient(90deg, rgba(26, 153, 220, 1) 0%, rgba(0, 61, 106, 1) 100%);
	color: #fff;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
}

/*============================ Menu Navigation Starts ============================*/
.nav-menu {
	background-color: transparent;
	padding-top: 0rem !important;
}

.nav-menu .container a .logo-nav-menu {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
	display: block;
}

.nav-menu .container a .fixedlogo-nav-menu {
	display: none;
}

.scroll-on .container a .fixedlogo-nav-menu {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
	display: block;
}

.scroll-on .container a .logo-nav-menu {
	display: none;
}

.nav-menu .container .nav-content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.nav-menu .container .nav-content .collapse ul li a {
	color: #FFFFFF !important;
	opacity: 65%;
	font-size: 18px;
	line-height: 1rem;
	font-family: Eurostile;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 0rem;
	margin-right: 1rem !important;
	margin-bottom: 0rem;
	margin-left: 0rem;
}

.nav-menu .container .nav-content .collapse ul li a:hover {
	opacity: 100%;
}

.nav-menu .container .nav-content .collapse ul li a:visited,
.nav-menu .container .nav-content .collapse ul li a:focus,
.nav-menu .container .nav-content .collapse ul li a:active {
	opacity: 100% !important;
}

.nav-menu .container .nav-content .collapse ul .dropdown:hover ul::before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	background-color: #217CA4;
	left: 10%;
	top: -1%;
	transform: rotate(45deg);
	z-index: 1;
}

.nav-menu .container .nav-content .collapse ul .dropdown:hover ul {
	display: block;
	background-color: #217CA4;
	border-radius: 5%;
	width: 230px;
	height: 260px;
	border: none;
}

.nav-menu .container .nav-content .collapse ul .dropdown:hover ul li {
	width: 200px !important;
	margin-top: 0.5rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	padding: 0px !important;
	line-height: 1rem !important;
}

.nav-menu .container .nav-content .collapse ul .dropdown:hover ul li a {
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 0rem;
	width: 400px !important;
	color: white !important;
	opacity: 50%;
	font-size: 16px;
	font-weight: 500;
	line-height: 0rem !important;
	text-decoration: none;
}

.nav-menu .container .nav-content .collapse ul .dropdown:hover ul li a:hover {
	color: #FFFFFF !important;
	opacity: 100%;
}

.nav-menu .container .nav-content .collapse ul .dropdown:hover ul li hr {
	padding: 0px !important;
	margin-top: 1rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	color: white !important;
}

.nav-menu .container .nav-content .nav-link .search-pop {
	background: url("../images/search-white.svg") no-repeat center center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	width: 100px;
	height: 100px;
}

.nav-menu-content {
	background-color: transparent;
	padding-top: 0rem !important;
}

/*--------------=========== Used for contact-us Page --------------===========*/
.nav-menu-content .container a .logo-nav-menu {
	background-image: url("../images/logo-blue.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
	width: 300px;
	height: 100px;
}

.nav-menu-content .container a .logo-nav-menu img {
	display: none;
}

/*--------------=========== Used for contact-us Page --------------===========*/

.nav-menu-content .container .nav-content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.nav-menu-content .container .nav-content .collapse ul li a {
	color: #00375C !important;
	font-size: 18px;
	line-height: 22px;
	font-family: Eurostile;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 0rem;
	margin-right: 1rem !important;
	margin-bottom: 0rem;
	margin-left: 0rem;
}

.nav-menu-content .container .nav-content .collapse ul .dropdown:hover ul::before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	background-color: #217CA4;
	left: 10%;
	top: -1%;
	transform: rotate(45deg);
	z-index: 1;
}

.nav-menu-content .container .nav-content .collapse ul .dropdown:hover ul {
	display: block;
	background-color: #217CA4;
	border-radius: 5%;
	width: 230px;
	height: 260px;
	border: none;
}

.nav-menu-content .container .nav-content .collapse ul .dropdown:hover ul li {
	width: 200px !important;
	margin-top: 0.5rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	padding: 0px !important;
	line-height: 1rem !important;
}

.nav-menu-content .container .nav-content .collapse ul .dropdown:hover ul li a {
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 0rem;
	height: 100px !important;
	width: 400px !important;
	color: white !important;
	opacity: 50%;
	font-size: 16px;
	font-weight: 500;
}

.nav-menu-content .container .nav-content .collapse ul .dropdown:hover ul li a:hover {
	color: #FFFFFF !important;
	opacity: 100%;
}

.nav-menu-content .container .nav-content .collapse ul .dropdown:hover ul li hr {
	padding: 0px !important;
	margin-top: 1rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	color: white !important;
}

.nav-menu-content .container .nav-content .nav-link .search-pop {
	background: url("../images/search-blue.svg") no-repeat center center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	width: 100px;
	height: 100px;
}

.scroll-on {
	background-color: white;
	padding-top: 0rem !important;
	box-shadow: 1px 1px 50px gray;
}



.scroll-on .container .nav-content .collapse ul li a {
	font-size: 18px;
	line-height: 1rem;
	font-family: Eurostile;
	font-weight: normal;
	letter-spacing: 1px;
	color: #00375C !important;
}

.scroll-on .container .nav-content .nav-link .search-pop {
	background-image: url("../images/search-blue.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	width: 100px;
	height: 100px;
}

/*========================================= Menu nav-menugation Ends =========================================*/
/*==================================== search Modal starts ====================================*/
.search-modal.container .modal .modal-dialog {
	max-width: 90% !important;
}

.search-modal.container .modal .modal-dialog .modal-content .modal-header {
	border-bottom: none;
}

.search-modal.container .modal-content .modal-body input {
	border: none;
}

.search-modal.container .modal-content .modal-body input:focus,
.search-modal.container .modal-content .modal-body input:hover {
	border: none !important;
}

.search-modal.container .modal-content {
	flex-direction: row !important;
	box-shadow: 0 5px 20px 5px rgb(100 100 100);
}

/*==================================== search Modal Ends ====================================*/

/*==================================== Header Starts ====================================*/

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

header .video-container video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
}

header .overlay {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: transparent linear-gradient(180deg, #0099DC 0%, #0095D7 8%, #004067 74%, #001E33 100%) 0% 0% no-repeat padding-box !important;
	mix-blend-mode: multiply;
	opacity: 0.7;
}

header .text {
	position: absolute;
	color: #fff;
	line-height: 1.5;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
}

header .text h1 {
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	font-family: Eurostile !important;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
}

header .text h6 {
	max-width: 554px;
	min-height: 54px;
	text-align: center;
	font: normal normal normal 18px/30px Montserrat;
	letter-spacing: 0.36px;
	color: #FFFFFF;
}

/*==================================== Header Ends ====================================*/
/*================================= Home Section Area Starts =================================*/
.home-section1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10rem 20rem;
}

.home-section1 h6 {
	text-align: center;
	font: normal normal bold 28px/50px Eurostile;
	letter-spacing: 2px;
	color: #00375C;
}

/*================================= Home Section Area Ends =================================*/

/*================================= Home Service Area Strats =================================*/
.home-services.home-services-page {
	background-color: transparent;
	padding: 10rem 0;
}

.home-services {
	background-color: rgba(0, 55, 92, 0.0509803922);
	padding: 10rem 0;
}

.home-services .container h2 {
	padding-top: 0;
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #00375C;
	text-transform: uppercase;
}

.home-services .container .home-service-area {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	transition: all .3s ease;
}

.home-services .container .home-service-area:hover {
	transform: translateY(-0.625rem);
}

.home-services .home-service-area .home-service-image {
	display: inline-flex;
}

.home-services .home-service-area:hover .home-service-image {
	position: relative;
	animation: iconmoveup 2s infinite;
	transition: all .3s ease;
}

@keyframes iconmoveup {
	0% {
		bottom: 0;
	}

	50% {
		bottom: 10px;
	}

	100% {
		bottom: 0;
	}
}

.home-services .container .home-service-area .home-service-image {
	max-width: 295px;
}

.home-services .container .home-service-area .home-service-box {
	max-width: 302px;
}

.home-services .container .home-service-area .home-service-box h5 {
	text-align: left;
	font-size: 26px;
	line-height: 34px;
	font-family: Eurostile;
	font-weight: bold;
	letter-spacing: 2px;
	color: #00375C;
	text-transform: uppercase;
}

.home-services .container .home-service-area .home-service-box h6 {
	text-align: left;
	font-size: 18px;
	line-height: 25px;
	font-family: Montserrat;
	font-weight: normal;
	letter-spacing: 0.36px;
	color: #00375C;
}

.home-services-info {
	padding: 0;
	margin: 10px 0 0 0;
	transition: all .3s ease;
	z-index: 1;
	position: relative;
}

.home-services-info .rt-btn-effect .link {
	height: 30px;
	align-items: center;
	color: #fff;
	text-decoration: none;
	display: flex;
}

.rt-btn-effect-info {
	display: inline-flex;
	padding: 0;
	border-radius: inherit;
	border-color: inherit;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.rt-btn-effect-info:hover {
	transition: all 0.3s ease-in-out;
	color: #FF631B;
}

/* Hide extra text */
.home-services-info .rt-btn-effect .mask {
	position: relative;
	padding: 0;
	height: 25px;
	overflow: hidden;
}

.home-services-info .rt-btn-effect .link-container {
	transition: transform 0.4s ease;
}

.home-services-info .rt-btn-effect .title {
	display: block;
	margin: 0;
	padding-bottom: 0;
	font-size: 18px;
	font-weight: 600;
	transition: transform 0.4s ease;
	color: #00375C;
}

.home-services-info .rt-btn-effect .link-title1 {
	transform-origin: right center;
	transition: transform 0.4s ease;
}

.home-services-info .rt-btn-effect .link-title2 {
	transform-origin: left center;
	transform: rotate(20deg);
	transition: transform 0.4s ease;
}

.home-services-info .rt-btn-effect .link-icon {
	position: relative;
	width: 35px;
	height: 35px;
	background: #FF631B;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;

	/*  Remove overflow to see how it works　:) */
	overflow: hidden;
}

.home-services-info .rt-btn-effect .icon-grid {
	display: block;
	transition: transform 0.4s ease;
}

.home-services-info .rt-btn-effect:hover .link .link-container {
	transform: translateY(-24px);
	transition: transform 0.4s ease;

}

/* Rotate texts a little bit */
.home-services-info .rt-btn-effect:hover .link .link-title1 {
	transform: rotate(20deg);
	transition: transform 0.4s ease;
}

.home-services-info .rt-btn-effect:hover .link .link-title2 {
	transform: rotate(0);
	transition: transform 0.4s ease;
}



/*================================= Home Service Area Ends =================================*/
/*======================== Project Section Starts ======================*/
.project-area {
	position: relative;
	padding: 10rem 0;
}

.project-area .proj {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.project-area .proj h2 {
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #00375C;
	text-transform: uppercase;
}

.section-padding {
	width: 1300px;
	margin: 0 auto;
	padding: 0;
}

.screenshot_slider .owl-item .item {
	transform: translate3d(0, 0, 0);
	/* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
	transform: scale(0.9);
	transition: all .25s ease-in-out;
	margin: 50px 0;
	/* OVERWRITE PLUGIN MARGIN */
	position: relative;
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
}

.screenshot_slider .owl-item.center.active .item {
	background-color: transparent;
	opacity: 1;
	padding: 0 30px;
}

.screenshot_slider .owl-item .item {
	-webkit-transition: 0.3s;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.4;
	padding: 0 30px;
}

.screenshot_slider .owl-item .item h4 {
	color: #fff;
	font: 600 25px/35px Eurostile;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
}

.screenshot_slider .owl-item.center .item {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.screenshot_slider .owl-nav {
	text-align: center;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 50%;
}

.screenshot_slider .owl-nav button {
	width: 31px;
	margin: 0;

}

.screenshot_slider .owl-nav button.owl-prev {
	background: url(../images/arrow-back.png) no-repeat;
	background-position: center;
	width: 31px;
	height: 31px;
	margin: 0 -30px;
	font-size: 0px;
	text-indent: -99999999px;
}

.screenshot_slider .owl-nav button.owl-next {
	background: url(../images/arrow-next.png) no-repeat;
	background-position: center;
	width: 31px;
	height: 31px;
	margin: 0 -20px;
	text-indent: -99999999px;
}

.screenshot_slider .owl-dots {
	display: none;
}


/*======================== Project Section Ends ======================*/

.home-about-us {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.home-about-us .video-container video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
}

.home-about-us .overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	height: 100vh;
	width: 100%;
	max-width: 100vw;
	background: transparent linear-gradient(180deg, #0099DC 0%, #0095D7 8%, #004067 74%, #001E33 100%) 0% 0% no-repeat padding-box !important;
	mix-blend-mode: multiply;
	opacity: 0.7;
}

.home-about-us .text {
	position: absolute;
	z-index: 3;
	color: rgb(0, 0, 0);
	line-height: 1.5;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.home-about-us .text h2 {
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.about-gen-btn a {
	margin-top: 2rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	width: 300px;
	height: 70px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 50px;
	text-align: center;
	font: normal normal bold 24px/31px Eurostile;
	letter-spacing: 2px;
	color: #00375C;
	text-transform: uppercase;
	border: none;
	padding: 1.2rem 0;
}



/*================== Client Section Starts ==================*/
#client-section {
	padding: 5rem 0;
	margin: 0;
}

.carousel-wrap {
	margin: 90px auto;
	padding: 0 5%;
	width: 80%;
	position: relative;
}

#client-section #client.owl-carousel .owl-stage-outer .owl-stage {
	display: flex;
	align-items: center;
}

/* fix blank or flashing items on carousel */
.carousel-move .item {
	position: relative;
	z-index: 100;
	-webkit-backface-visibility: hidden;
}

#client-section .owl-theme .owl-nav.disabled + .owl-dots {
	display: none;
}

/*================== Client Section Ends ==================*/





/*================== Testimonial Section Starts ==================*/
#testimonials-section {
	padding: 80px 0;
	margin: 0;
	background: url(../images/testimonials-bg.webp);
	background-size: cover;
}

.testi-bg {
	display: block;
	padding: 0 350px;
	background-repeat: no-repeat;
	background-position: top 0 left 0;
}


#testimonial {
	padding: 0;
	text-align: center;
}

#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}

#testimonial .item p {
	font-size: 20px;
	line-height: 27px;
	color: #fff;
	margin: 0;
	min-height: 120px;
}

.testi-bg h2 {
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #fff;
	text-transform: uppercase;
}

.client-details-area {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 40px;
}

.client-image img {
	display: block;
	width: 100px !important;
	border-radius: 50%;
	height: 100px;
	object-fit: cover;
}

#testimonial .item .client-portfolio p {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#testimonial .item .client-portfolio p span {
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
}

#testimonial .item .client-portfolio p span.designation {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

#testimonial.owl-theme .owl-nav {
	display: none;
}

.owl-theme .owl-nav {
	margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #D6D6D6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: #869791;
	color: #FFF;
	text-decoration: none
}

.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 18px;
	height: 18px;
	margin: 5px 4px;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: #fff;
	width: 18px;
	height: 18px;
}

/*================== Testimonial Section Ends ==================*/




/*========================================= Footer Area starts =========================================*/
footer {
	background-color: rgba(0, 55, 92, 0.0509803922);
	min-height: 873px;
}

footer .container-fluid {
	padding-right: 5rem;
	padding-left: 5rem;
}

footer .footer-logo {
	padding-top: 5rem;
	padding-right: 0rem;
	padding-bottom: 10rem;
	padding-left: 0rem;
}

footer .footer-logo .footer-logo-img {
	max-width: 335px;
	min-height: 80px;
}

footer .row .footerone {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-start;
}

footer .row .footerone .foot-flex {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}

footer .row .footerone .foot-flex a {
	max-width: 120px;
	min-height: 24px;
	text-decoration: none;
	text-align: left;
	font: normal normal normal 20px/24px Eurostile;
	letter-spacing: 0.8px;
	color: #00375C;
	text-transform: uppercase;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 2rem;
	margin-left: 0rem;
}

footer .row .footerone .foot-flex .dropdown {
	display: none;
}

footer .row .footertwo {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-start;
}

footer .row .footertwo .foot-form {
	width: 100%;
	max-width: 500px;
}

footer .row .footertwo .foot-form .formcontrol {
	padding-left: 2rem !important;
}

footer .row .footertwo .foot-form h4 {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 2rem;
	margin-left: 0rem;
	max-width: 140px;
	min-height: 24px;
	text-align: left;
	font: normal normal normal 20px/24px Eurostile;
	letter-spacing: 0.8px;
	color: #00375C;
	text-transform: uppercase;
}

footer .row .footertwo .foot-form h6 {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 2rem;
	margin-left: 0rem;
	max-width: 360px;
	min-height: 24px;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	font-family: Montserrat;
	font-weight: 500;
	letter-spacing: 0.9px;
	color: #00375C;
}

footer .row .footertwo .foot-form input {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	width: 100%;
	max-width: 438px;
	min-height: 70px;
	border: 2px solid #00375C;
	border-radius: 50px;
	background: transparent;
}

footer .row .footertwo .foot-form button {
	margin-top: 1rem;
	width: 100%;
	max-width: 306px;
	height: 70px;
	background: transparent linear-gradient(312deg, #1A99DC 0%, #04375C 100%) 0% 0% no-repeat padding-box;
	border-radius: 50px;
	border: none;
	font: normal normal bold 24px/31px Eurostile;
	letter-spacing: 5px;
	color: #FFFFFF;
}

footer .row .footertwo .foot-form button:hover {
	background: linear-gradient(90deg, rgba(26, 153, 220, 1) 0%, rgba(0, 61, 106, 1) 100%);
	color: #fff;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
}

footer .row .footerthree {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}

footer .row .footerthree h4 {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 2rem;
	margin-left: 0rem;
	max-width: 140px;
	min-height: 24px;
	text-align: left;
	font: normal normal normal 20px/24px Eurostile;
	letter-spacing: 0.8px;
	color: #00375C;
	text-transform: uppercase;
}

footer .row .footerthree h5 {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	max-width: 350px;
	min-height: 26px;
	text-align: left;
	font: normal normal bold 20px/30px Eurostile;
	letter-spacing: 1px;
	color: #00375C;
}

footer .row .footerthree h6 {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	max-width: 400px;
	min-height: 5px;
	text-align: left;
	font: normal normal bolder 20px/30px Eurostile-bold;
	letter-spacing: 1px;
	color: #00375C;
}

footer .row .footerthree .sub-txt {
	margin-bottom: 0.5rem;
	font: normal normal 400 18px/30px Montserrat;
	letter-spacing: 0.9px;
	color: #00375C;
}

footer .row .footerthree .sub-txt a {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-left: 0rem;
	max-width: 300px;
	text-align: left;
	font: normal normal 400 18px/30px Montserrat;
	letter-spacing: 0.9px;
	color: #00375C;
	text-decoration: none;
}

footer .row .footerthree .foot-social {
	margin-top: 3rem;
}

footer .row .footerthree .foot-social img {
	margin-right: 1.5rem;
}

.footer-area {
	padding: 0 0 0 180px;
	display: flex
}

/*========================================= Footer Area Ends =========================================*/


/*========================================= About Us Page Starts =========================================*/
.banner {
	background-size: cover !important;
	min-height: 540px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

.banner h1 {
	max-width: 1159px;
	min-height: 51px;
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.about-page {
	margin-top: 10rem;
	margin-right: 0rem;
	margin-bottom: 10rem;
	margin-left: 0rem;
}

.about-page .container .about-page-video {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 5rem;
	margin-left: 0rem;
	position: relative;
	width: 100%;
}

.about-page .container .about-page-video video {
	width: 100%;
}

.about-page .container .about-page-video .overlay {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	transform: matrix(-1, 0, 0, -1, 0, 0);
	background: transparent linear-gradient(180deg, #1A99DC 0%, #04375C 100%) 0% 0% no-repeat padding-box;
	mix-blend-mode: screen;
	opacity: 0.47;
	transition: 1s;
}

.about-page .container .about-page-video .overlay:hover {
	display: none;
	opacity: 0%;
}

.about-page .container .about-page-video img {
	position: absolute;
	z-index: 3;
	opacity: 100% !important;
	max-width: 194px;
	min-height: 194px;
	transition: 1s;
}

.about-page .container .about-page-video img:hover {
	display: none;
}

.about-page .container .about-page-para {
	width: 1300px;
	max-width: 100%;
	margin: 0 auto;
}

.about-page .container .about-page-para h6 {
	text-align: center;
	font: normal normal bold 28px/50px Eurostile;
	letter-spacing: 0.84px;
	color: #00375C;
}

/*========================================= About Us Page Ends =========================================*/


/*========================================= Service Page Starts =========================================*/

.services-header {
	background-size: cover !important;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

.services-header h1 {
	max-width: 1024px;
	min-height: 34px;
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 5rem 0 0 0;
}

.services-div {
	background: rgba(0, 55, 92, 0.0509803922) 0% 0% no-repeat padding-box;
}

.services-div .container {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.services-div .container .latest-news {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding-top: 0rem;
	padding-right: 0rem;
	padding-bottom: 5rem;
	padding-left: 0rem;
}

.services-div .container .latest-news h2 {
	text-align: center;
	line-height: 75px;
	font-size: 60px;
	font-family: Eurostile;
	font-weight: bold;
	letter-spacing: 0px;
	color: #00375C;
	text-transform: uppercase;
}


.services-div .container #latestnews .owl-nav button {
	width: 31px;
	margin: 0;

}

.services-div .container .news {
	margin-top: 1rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.services-div .container .news h2 {
	width: 100%;
	max-width: 450px;
	min-height: 103px;
	text-align: left;
	font-size: 26px;
	line-height: 34px;
	font-family: Eurostile;
	font-weight: bold;
	letter-spacing: 0.52px;
	color: #00375C;
	text-transform: uppercase;
}

.services-div .container .news h3 {
	text-align: left;
	font: normal normal 600 12px/30px Montserrat;
	letter-spacing: 0.24px;
	color: #0099DC;
}

.services-div .container .news .service-img {
	max-width: 100%;
	margin-top: 0.5rem;
	margin-right: 0rem;
	margin-bottom: 0.5rem;
	margin-left: 0rem;
	width: 100%;
	-webkit-filter: brightness(100%);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.services-div .container .news:hover .service-img {
	-webkit-filter: brightness(80%);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.services-div .container .news h6 {
	max-width: 413px;
	min-height: 125px;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	font-family: Montserrat;
	font-weight: bold;
	letter-spacing: 0.36px;
	color: #00375C;
}

.services-div .container .news h5 {
	text-align: left;
	font-size: 22px;
	line-height: 32px;
	font-family: Eurostile;
	font-weight: bold;
	letter-spacing: 0.44px;
	color: #00375C;
	position: relative;
	display: inline-block;
}

.services-div .container .news h5:after {
	content: '';
	width: 0;
	height: 1px;
	bottom: 0 !important;
	position: absolute;
	left: auto;
	right: 0;
	-webkit-transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
	transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
	background: #00375C;
}

.services-div .container .news h5:hover:after {
	width: 100%;
	left: 0;
	right: auto;
	margin: 0;
}


.nopadding {
	padding: 0px !important;
}

/*Full*/
.dispay-none {
	display: none !important;
}

/*========================================= Service Page Ends =========================================*/


/*========================================= Service-BIM Page Starts =========================================*/
.service-bim {
	margin-top: 10rem;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.service-bim .container {
	width: 1600px;
	margin: 0 auto;
}
.service-pane-area{display: flex;
	justify-content: center;
	align-items: center;}
.service-bim .container .service-content-pane {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.service-bim .container .info-serv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
}

.service-bim .container .info-serv h2 {
	max-width: 600px;
	min-height: 45px;
	text-align: left;
	font: normal normal bold 26px/34px Eurostile;
	letter-spacing: 0.52px;
	color: #00375C;
	text-transform: uppercase;
}

.service-bim .container .info-serv h6 {
	max-width: 400px;
	min-height: 50px;
	text-align: left;
	font: 18px/40px Montserrat;
	letter-spacing: 0.36px;
	color: #00375C;
	line-height: 1.8;
}

.service-bim .container .info-serv ul {
	padding-left: 0.5rem !important;
}

.service-bim .container .info-serv ul li {
	max-width: 430px;
	min-height: 10px;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.36px;
	color: #00375C;
	line-height: 1.8;
}

.service-bim .container .info-serv ul li::marker {
	content: "⬥";
	color: #0099DC;
}

.service-bim .container .service-bim-img {
	width: 100%;
}

/*========================================= Service-BIM Page Ends =========================================*/


/*========================================= Projects Page Starts =========================================*/
.sws-project-panel {
	padding: 10rem 0;
}

.sws-proj-box {
	padding: 0;
	margin: 0 0 20px 0;
	overflow: hidden;
	transition: all .3s ease;
	z-index: 1;
	position: relative;

}

.sws-proj-box .thumbnailsm {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 552px;
	position: relative;
	color: #ffffff;
	backface-visibility: hidden;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 15px rgb(0 0 0 / 15%);
	text-align: left;
}

.sws-proj-box img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	z-index: -1;
	object-fit: cover;
	opacity: 30%;
	filter: brightness(50%);
	transition: filter 300ms ease, transform 350ms linear;
}

.sws-proj-box:hover img {
	filter: grayscale(0);
	transform: scale(1.09) rotate(0);
	filter: brightness(90%);
	opacity: 100%;
	transition: filter 300ms ease, transform 350ms linear;
}



.sws-proj-box .thumbnailsm .sws_heading {
	position: absolute;
	left: 0;
	height: auto;
	width: auto;
	padding: 50px 60px;
	text-align: left;
	background: 0 0;
	top: 0;
	transition: opacity .3s, bottom .3s;
	display: block;
	margin: 0;
	white-space: normal;
	opacity: 1;
}

.sws-proj-box .thumbnailsm .sws_heading h2 {
	font: bold 35px/42px Eurostile;
	letter-spacing: 1.05px;
	color: #00375C;
	text-transform: uppercase;
	transition: linear 0.3s;
}


.sws-proj-box .thumbnailsm:hover .sws_heading h2 {
	color: #fff;
}

/* Hover Action*/


.sws-proj-box .content-box {
	position: absolute;
	bottom: 60px;
	left: 0;
	padding: 0 60px;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	transform: translateY(0);
	transition: all cubic-bezier(.4, 0, .2, 1) .4s;
	opacity: 1;
	display: block;
	visibility: visible;
}

.sws-proj-box:hover .content-box {
	color: #fff;
	text-decoration: none;
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all cubic-bezier(.4, 0, .2, 1) .4s;

}


.sws-proj-box .content-box h4 {
	font: 500 20px/30px Montserrat;
	letter-spacing: 0.4px;
	color: #00375C;
	min-height: 120px;
}

.sws-proj-box .content-box h6 {
	text-align: left;
	font-size: 22px;
	line-height: 30px;
	font-family: Eurostile;
	font-weight: bold;
	letter-spacing: 0.44px;
	color: #00375C;
	position: relative;
	display: inline-block;
}

/*========================================= Projects Page Ends =========================================*/

/*========================================= blog-main Page Starts =========================================*/

.blog-main-area {
	padding: 10rem 0;
	margin: 0;
}

.blog-grid-item {
	float: left;
	margin-bottom: 2rem;
}

.blog-grid-item > .holder > .blog-heading {
	margin: 0;
	padding: 0;
}

.blog-grid-item > .holder > .blog-heading h2 {
	padding: 0px !important;
	margin: 0px !important;
	text-align: left;
	font-size: 26px;
	line-height: 34px;
	font-family: Eurostile;
	font-weight: bold;
	letter-spacing: 0.52px;
	color: #00375C !important;
	text-transform: uppercase;
}

.blog-grid-item > .holder > .blog-heading h4 {
	padding: 0px !important;
	margin: 0px !important;
	text-align: left;
	font-size: 15px;
	line-height: 40px;
	font-family: Montserrat;
	font-weight: bold;
	letter-spacing: 0.4px;
	color: #0099DC;
}

.blog-grid-item > .holder > .pic {
	position: relative;
	margin-bottom: 0px;
	padding-top: calc((60 / 100) * 100%);
	overflow: hidden;
	transition: all 1.5s cubic-bezier(0, 0, .2, 1);
	border-radius: 4px;
}

.blog-grid-item > .holder > .data {
	padding: 15px 0;
	z-index: 9;
	transition: all .3s ease;
	position: relative;
}

.blog-grid-item > .holder:hover .data {
	opacity: 1;
	visibility: visible;
	z-index: 9;
	transition: all .3s ease;
}


.blog-grid-item > .holder:hover .data:before {
	content: "";
	display: block;
	padding-top: 0;
}



.blog-grid-item > .holder:hover .pic a {
	transform: scale3d(1.1, 1.1, 1.1);
}

.blog-grid-item > .holder > .pic > .pic-main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 1px;
	left: 0;
	z-index: 1;
	background: center center no-repeat;
	background-size: cover;
	transition: all 1.5s cubic-bezier(0, 0, .2, 1);
	border-radius: 4px;
}

.blog-grid-item > .holder > .data > *:last-child {
	margin-bottom: 0 !important;
}


.blog-grid-item > .holder > .data a {
	display: inline;
	padding: 0;
	background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0 2px;
	box-sizing: border-box;
	transition: background-size .8s cubic-bezier(.25, .8, .25, 1);
}

.blog-grid-item > .holder > .data h6 a {
	text-align: left;
	font-size: 22px;
	line-height: 20px;
	font-family: Eurostile;
	font-weight: bold;
	letter-spacing: 0.44px;
	color: #00375C;
	text-decoration: none;
	transition: all .3s ease;
}

.blog-grid-item > .holder > .data:hover h6 a {
	color: #188fcf;
	transition: all .3s ease;

}

.blog-grid-item > .holder > .data .blog-categories p {
	width: 100% !important;
	max-width: 400px !important;
	min-height: 13px;
	text-align: left;
	line-height: 30px;
	font-size: 15px;
	font-family: Montserrat;
	font-weight: bold;
	letter-spacing: 0.36px;
	color: #00375C;
}

/*========================================= blog-main Page Ends =========================================*/

/*========================================= blog-single Page Starts =========================================*/
.blog-div {
	margin-top: 10rem;
	margin-right: 0rem;
	margin-bottom: 10rem;
	margin-left: 0rem;
}

.blog-div .container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0rem;
}

.blog-div .container .label {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 3rem;
	margin-left: 0rem;
}

.blog-div .container .label h2 {
	max-width: 818px;
	min-height: 41px;
	text-align: center;
	font: normal normal bold 26px/34px Eurostile;
	letter-spacing: 0.52px;
	color: #00375C;
	text-transform: uppercase;
}

.blog-div .container .label h5 {
	max-width: 387px;
	min-height: 32px;
	text-align: center;
	font: normal normal 600 20px/40px Montserrat;
	letter-spacing: 0.4px;
	color: #0099DC;
}

.blog-div .container .blog-div-img {
	width: 100%;
}

.blog-div .container .blog-para {
	margin-top: 5rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
}

.blog-div .container .blog-para h6 {
	max-width: 1050px;
	min-height: 56px;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.36px;
	color: #00375C;
}

/*========================================= blog-single Page Ends =========================================*/


/*========================================= Reconstructions Page starts =========================================*/
.reconst-video {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.reconst-video .container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin-top: 10rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
}

.reconst-video .container iframe {
	width: 100%;
	height: 100%;
	max-width: 1500px;
	min-height: 900px;
}

.reconst-video .container img {
	position: absolute;
	z-index: 3;
	opacity: 100% !important;
	max-width: 194px;
	min-height: 194px;
	transition: 1s;
}

/*========================================= Reconstructions Page Ends =========================================*/


/*========================================= contact-us Page Starts =========================================*/
.contact-us {
	padding: 10rem 0;
}

.contact-us .container .row {
	margin: 0;
	padding-top: 10rem;
}

.contact-us .container .row .cont-details {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 10rem;
}

.contact-us .container .row .cont-details h4 {
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 2rem;
	margin-left: 0rem;
	text-align: left;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #00375C;
	text-transform: uppercase;
}

.contact-us .container .row .cont-details h5 {
	margin-bottom: 0px !important;
	max-width: 350px;
	min-height: 26px;
	text-align: left;
	font: normal normal bold 20px/30px Eurostile;
	letter-spacing: 1px;
	color: #00375C;
}

.contact-us .container .row .cont-details h6 {
	margin-bottom: 0px !important;
	max-width: 400px;
	min-height: 5px;
	text-align: left;
	font: normal normal bold 20px/30px Eurostile;
	letter-spacing: 1px;
	color: #00375C;
}

.contact-us .container .row .cont-details h3 a,
.contact-us .container .row h5 a,
.contact-us .container .row .cont-details h6 a {
	color: #00375C;
}

.contact-us .container .row .cont-details h3 {
	margin-bottom: 0px !important;
	max-width: 300px;
	min-height: 5px;
	text-align: left;
	font: normal normal 300 20px/30px Montserrat;
	letter-spacing: 1px;
	color: #00375C;
}

.contact-us .container .row h5 {
	max-width: 161px;
	min-height: 24px;
	text-align: left;
	font: normal normal normal 20px/24px Eurostile;
	letter-spacing: 0.8px;
	color: #00375C;
	text-transform: uppercase;
}

.contact-us .container .row form {
	padding-right: 10rem;

}

.contact-us .container .row form .formcontrol {
	padding-left: 2rem !important;
}

.contact-us .container .row form input {
	margin-top: 0.5rem;
	margin-right: 0rem;
	margin-bottom: 0.5rem;
	margin-left: 0rem;
	width: 100%;
	max-width: 691px;
	height: 70px;
	border: 2px solid #00375C;
	border-radius: 50px;
	text-align: left;
	font: normal normal bold 18px/24px Montserrat;
	letter-spacing: 0.9px;
	color: #00375C;
}

.contact-us .container .row form textarea {
	margin-top: 0.5rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	width: 100%;
	max-width: 691px;
	height: 258px;
	border: 2px solid #00375C;
	border-radius: 30px;
	text-align: left;
	font: normal normal bold 18px/24px Montserrat;
	letter-spacing: 0.9px;
	color: #00375C;
	resize: none;
}

.contact-us .container .row form button {
	width: 100%;
	max-width: 306px;
	height: 70px;
	background: transparent linear-gradient(312deg, #1A99DC 0%, #04375C 100%) 0% 0% no-repeat padding-box;
	border-radius: 50px;
	text-align: center;
	font: normal normal bold 24px/31px Eurostile;
	letter-spacing: 5px;
	color: #FFFFFF;
	text-transform: uppercase;
	border: none;
}

.contact-us .container .row form button:hover {
	background: linear-gradient(90deg, rgba(26, 153, 220, 1) 0%, rgba(0, 61, 106, 1) 100%);
	color: #fff;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
}

.contact-us .container .row form .contact-us-btn-area {
	text-align: right;
}

/*========================================= contact-us Page Ends =========================================*/


/*========================================= DTD Page Starts =========================================*/

/*=========== Drafting Modal =========*/
.draft-modal .modal .modal-dialog {
	max-width: 1440px !important;
}

.draft-modal .modal .modal-dialog .modal-content .modal-header {
	border-bottom: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}

.draft-modal .modal .modal-dialog .modal-content .modal-body .DTD-pop-up {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.draft-modal .modal .modal-dialog .modal-content .modal-body .DTD-pop-up .DTD-pop-up-body {
	padding: 10rem;
}

.draft-modal .modal .modal-dialog .modal-content .modal-body .DTD-pop-up .DTD-pop-up-body .DTD-overlay {
	max-width: 100%;
	min-height: 300px;
	background: #EBF7FD 0% 0% no-repeat padding-box;
}

.draft-modal .modal .modal-dialog .modal-content .modal-body .DTD-pop-up .DTD-pop-up-body h2 {
	margin-top: 2rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	text-align: left;
	font: normal normal bold 26px/34px Eurostile;
	letter-spacing: 0.52px;
	color: #00375C;
	text-transform: uppercase;
}

.draft-modal .modal .modal-dialog .modal-content .modal-body .DTD-pop-up .DTD-pop-up-body h5 {
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.36px;
	color: #00375C;
}


.draft-modal .modal .modal-dialog .modal-content .modal-body {
	padding: 0;
}

/*=========== Drafting =========*/

.drafting {
	margin-top: 10rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
}

.drafting .container {
	position: relative;
}

.drafting .container .draft-head h2 {
	text-align: center;
	font: normal normal normal 60px/75px Eurostile;
	letter-spacing: 0px;
	color: #00375C;
	text-transform: uppercase;
}

.drafting .container .drafting-box-area .draft-box {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.drafting .container .drafting-box-area .draft-content {
	cursor: pointer;
	margin-top: 5rem;
	margin-right: 0rem;
	margin-bottom: 5rem;
	margin-left: 0rem;
}

.drafting .container .drafting-box-area .draft-content .draft-detail {
	padding: 30px 0 0 0;
}

.drafting .container .drafting-box-area .draft-content .article {
	width: 100%;
}

.drafting .container .drafting-box-area .draft-content .article img {
	width: 100%;
}

.drafting .container .drafting-box-area .draft-content h3 {
	min-height: 70px;
	text-align: left;
	font: normal normal bold 26px/34px Eurostile;
	letter-spacing: 0.52px;
	color: #00375C;
	text-transform: uppercase;
}

.drafting .container .drafting-box-area .draft-content h5 {
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.36px;
	color: #00375C;
}

/*========================================= DTD Page Ends =========================================*/